<launch>
    <arg name="use_rosbot"          default="true"              />
    <arg name="ugv_model"           default="m6"                />
    <arg name="fcu_url"             default="udp://:14551@"     />
    <arg name="gcs_url"             default=""                  />
    <arg name="tgt_system"          default="1"                 />
    <arg name="tgt_component"       default="1"                 />
    <arg name="mavros_output"       default="screen"            />
    <arg name="fcu_protocol"        default="v2.0"              />
    <arg name="respawn_mavros"      default="false"             />
    <arg name="pluginlists_yaml"    default="$(find mavros)/launch/apm_pluginlists.yaml" />
    <arg name="config_yaml"         default="$(find mavros)/launch/apm_config.yaml" />
    <arg name="use_bt_joystick"     default="false"             />
    <arg name="use_mavros"          default="true"              />
    <arg name="use_cloudwatch"      default="false"             />
    <arg name="use_realsense"       default="false"             />

    <param if="$(arg use_rosbot)" name="use_sim_time" value="false"/>

    <param if="$(eval ugv_model == 'r1')" name="robot_description" command="$(find xacro)/xacro '$(find aion_r1_description)/urdf/r1_sim.urdf.xacro'" />
    <param if="$(eval ugv_model == 'm6')" name="robot_description" command="$(find xacro)/xacro '$(find aion_m6_description)/urdf/m6.urdf.xacro'" />
 
    <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher">
    </node>

    <node name="robot_pose_publisher"
        pkg="robot_pose_publisher"
        type="robot_pose_publisher"
        respawn="false"
        output="screen">
        
        <param name="is_stamped" value="true" />
        
    </node>

    <node name="fcu_to_fcu_broadcaster"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 fcu_link fcu 100">
    </node>
    
    <node name="base_link_to_Sensor_broadcaster"
        pkg="tf"
        type="static_transform_publisher"
        args="0.2250 0 0.3867 0 0 0 base_link Sensor 100">
    </node>

    <node if="$(arg use_mavros)" pkg="mavros" type="mavros_node" name="mavros" required="$(eval not respawn_mavros)" clear_params="true" output="$(arg mavros_output)" respawn="$(arg respawn_mavros)">
        <param name="fcu_url" value="$(arg fcu_url)" />
        <param name="gcs_url" value="$(arg gcs_url)" />
        <param name="target_system_id" value="$(arg tgt_system)" />
        <param name="target_component_id" value="$(arg tgt_component)" />
        <param name="fcu_protocol" value="$(arg fcu_protocol)" />
        <param name="system_id" value="1" />
        <param name="component_id" value="254" />

        <!-- load blacklist, config -->
        <rosparam command="load" file="$(arg pluginlists_yaml)" />
        <rosparam command="load" file="$(arg config_yaml)" />
        
        <!-- Topic Remaps for use on ROS -->
        <remap from="/mavros/vision_pose/pose" to="/camera2/vision_pose" />
        <remap from="/mavros/setpoint_velocity/cmd_vel_unstamped" to="/cmd_vel" />
        <!-- Needs MAVROS changes -->
        <remap from="/mavros/obstacle/send" to="/scan" />
        <!-- <remap from="/move_base_simple/goal" to="/mavros/setpoint_position/cmd_pos" /> -->
        <remap from="/mavros/setpoint_position/cmd_pos" to="/move_base_simple/goal" />

    </node>
    
    <!--
    <remap from="/pose" to="/robot_pose" />
    -->
   
    <include if="$(arg use_cloudwatch)" file="$(find cloudwatch_metrics_collector)/launch/cloudwatch_metrics_collector.launch" />

    <include if="$(arg use_realsense)" file="$(find aion_navigator_adv)/launch/aion_realsense.launch" />

    <!-- Joystick Interface Launch  -->
    <group if="$(arg use_bt_joystick)" ns="teleop">
        <node pkg="joy" type="joy_node" name="joy_node">
            <param name="dev" value="$(arg joy_dev)" />
            <param name="deadzone" value="0.3" />
            <param name="autorepeat_rate" value="20" />
        </node>
    
        <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node" >
            <arg name="joy_config" default="ps3" />
            <arg name="joy_dev" default="/dev/input/js0" />
            <arg name="config_filepath" default="$(find teleop_twist_joy)/config/$(arg joy_config).config.yaml" />
            <rosparam command="load" file="$(find aion_control)/config/teleop.yaml" /> 
        </node>
    </group>

    <include file="$(find quanergy_client_ros)/launch/client.launch">
            <arg name="host" value="192.168.1.3"/>
    </include>

    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/Sensor/points"/>
	<param name="angle_min"  value="-0.785398" />
	<param name="angle_max"  value="0.785398" />
        <param name="min_height" value="-0.30" />
        <param name="max_height" value="1" />
        <param name="angle_increment" value="0.00872665" />
    </node>
</launch>
